ACME_EMAIL=admin@example.com
MINI_APP_DOMAIN=app.example.com
WG_EASY_DOMAIN=wg.example.com
APP_MAIN_BOT_TOKEN=change-me
APP_ADMIN_USERNAME=admin_nickname
APP_MAX_TUNNELS=10
WG_EASY_USERNAME=admin
WG_EASY_PASSWORD=change-me
