.DS_Store
.env
.env.local
.idea/
.vscode/
deploy/
.gocache

backend/app
backend/coverage.out
backend/sqlite.db
backend/vendor/

frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/tsconfig.app.tsbuildinfo

compose/.env
